<!DOCTYPE html>
<html>
    <head>
        <title>ATM</title>
    </head>

    <body>
        <h1>ATM</h1>
        <h3>Balance : {{balance}}</h3>
        <p>{{msg}}</p>
        <form action="/" method = 'POST'>
            <hr>Enter the amount : <br><input type='number' name='amt' id='amt'><br><br>
            <input type='submit' value='Withdraw' name='actions' onclick='check()'>
            <input type='submit' value='Deposit' name='actions' onclick="check()">
        </form>
        <script>
            function check(){
                amt = document.getElementById('amt').value
                if(amt == "")
                    alert("Enter the amount")
            }
        </script>
    </body>
</html>